.map {
  margin: 1rem;
  background-image: linear-gradient(
    135deg,
    #fdfdfd 25%,
    #efefef 25%,
    #efefef 50%,
    #fdfdfd 50%,
    #fdfdfd 75%,
    #efefef 75%,
    #efefef 100%
  );
  background-size: 33.94px 33.94px;
}
