.nodeWrapper {
    position: absolute;
}

.nodeWrapper__dragToggle {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    background-color: lightgray;
    border-top-left-radius: 6px;
    cursor: grab;
}